@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html {
	/* scroll-behavior: smooth; */
	transition: all 1s ease-in;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: rgba(0, 48, 46, 1);
	font-family: 'Poppins', serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', serif;
}
.App {
	text-align: center;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
/* Nav Header
.flex-mobile{
	width: 100%;
} */
/* Hero Container*/
.hero-container{
	display: flex;
}
/*? Hero Section CSS */
.hero-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

}
.hero-image {
	height: 200px;
	width: 200px;
	margin-left: 10rem;
	margin-top: 10rem;
}
.hero-text {
	height: 10rem;
	width: 40.625rem;
	margin-top: 10rem;
	color: #f7f7f7;
}
.hero-text span {
	color: rgba(251, 221, 187, 1);
}

.hero-text h1,
p {
	margin-bottom: 2.5rem;
}
.playStores {
	margin: 0.5rem;
}
/*? Feature Section CSS */
.special-food-heading {
	margin-top: 15rem;
}
.special-food-heading h1 {
	color: white;
	text-align: center;
	margin: 0 auto;
	font-style: normal;
	font-weight: 700;
	line-height: 2.063rem;
}
.special-food-heading p {
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 183%;
	text-align: center;
	color: rgba(255, 255, 255, 0.83);
	margin-top: 2rem;
}

.feature-wrapper h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 1.688rem;
	line-height: 2.063rem;
	color: #fbddbb;
	margin-top: 2.188rem;
	margin-bottom: 1.313rem;
}

.feature-wrapper p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 33px;
	color: rgba(255, 255, 255, 0.83);
}
.feature-image {
	object-fit: cover;
}

/*? CTA CSS */
.cta-section {
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.cta-heading {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 33px;
	margin-bottom: 32px;
	color: #fbddbb;
}
.cta-desc {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 33px;
	color: rgba(255, 255, 255, 0.95);
}
.cta-input {
	width: 299px;
	height: 51px;
	background: #f7f7f7;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	margin-right: 8px;
	text-align: center;

}
.cta-button {
	width: 182px;
	height: 51px;
	background: #fbddbb;
	border-radius: 5px;
}
/*? ************** Footer CSS  **************** */
.footer-section {
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: initial;
	background: #0b0d17;
	width: 100%;
	flex-direction: column;
}
.footer-item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: initial;
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	color: rgba(251, 221, 187, 1);
}
.footer-item-wrapper h1 {
	color: #fbddbb;
	margin-bottom: 24px;
	text-align: left;
}

.downloads {
	display: flex;
	flex-direction: column;
}
.downloads img {
	margin-top: 1.188rem;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	color: rgba(251, 221, 187, 1);
}
.socials {
	display: flex;
	justify-content: space-around;
}
.socials .fa-icons {
	margin: 10px;
}
.footer-logo {
	width: 5.813rem;
	margin-bottom: 0.625rem;
}
.footer-logo:hover {
	filter: drop-shadow(0 0 0.3em #fbddbb);
}
/*? Login Pages */
.loginPage,
.signupPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 90px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	justify-content: space-evenly;
}
.form-wrapper form {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.form-wrapper form input,
button {
	width: 488px;
	height: 71px;
	background: rgba(255, 255, 255, 0.83);
	border: 1px solid rgba(251, 221, 187, 0.51);
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
}

.form-wrapper button {
	background: rgba(0, 48, 46, 1);
	color: rgba(251, 221, 187, 1);
}

.form-wrapper .form-title {
	margin: 0 auto;
	font-family: 'Poppins', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 33px;
	color: #00302e;
}

.form-support {
	display: flex;
	justify-content: space-around;
}

::placeholder {
	color: rgb(224, 156, 78);
}

.react-link {
	text-decoration: none;
	color: #00302e;
}
.react-link-btn :hover {
	cursor: pointer;
}

/*? ********************Dashboard CSS ********************/

/* Side  */
.sideBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fbfbfb;
}

.side-row {
	display: flex;
	margin: 2rem;
}
.sideBarContainer h4 {
	margin-right: 1rem;
	margin-left: 1rem;
	opacity: 0.8;
}

.sidebar-logo {
	color: #00302e;
}
/* dashboard container */

.NavHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 2rem;
}
/* Dashboard Header */
.NavHeader-margin {
	margin-bottom: 3rem;
}
/* dashboardBox */
.dashboardBox {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	background: #ffffff;
}

.foodBoxWrapper {
	width: 240px;
	height: 307px;
}

.price-and-item-btn {
	display: flex;
	justify-content: space-between;

	margin-right: 1rem;
}

/* Main DashBoard Wrapper */

.dashboard-wrapper {
	display: flex;
	background-color: #f7f7f7;
}

/*? Sidebar */

.sidebar-cart-wrapper {
	display: flex;
}
/*? **************** Modal components styling ************/
/*.common-btn {
	width: 479px;
	height: 60px;
	background: rgba(0, 48, 46, 1);
	font-family: 'Poppins', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	color: #f3c294;
}*/

.modal-name {
	width: 82px;
	height: 33px;
	font-family: 'Poppins', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 33px;
	color: #00302e;
	margin-bottom: 2rem;
}

.cartListContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	margin: 0 auto;
}

.tem-info-wrapper {
	display: flex;
	justify-content: center;
}

/*? ************ Main Modal container ******** */

/*!Hide Modal  */
.modal {
	/* display: none; */
	background: #f7f7f7;
}
.item-wrapper {
	display: inline-flex;
	align-items: center;
}
.cart-list-food {
	width: 15%;
	margin-right: 1rem;
	margin-bottom: 20px;
}

.headerBar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
}
button:hover {
	cursor: pointer;
}

/*! Media Queries */
@media only screen and (max-width: 768px) {

	.App {
		text-align: center;
		margin: 0 auto;
	}
	.sticky-header{
		width: 100%;
	}
	.hero-container{
		display: flex;
		flex-direction: column;
		margin-top: -5rem;
	}
	/*? Hero Section CSS */
	.hero-image-container{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.hero-image {
		height: auto;
		width: 200px;
		margin: 0 auto;
	}
	.hero-text {
		height: 25rem;
		margin-bottom: 20px;
		width: 87vw;
		color: #fbfbfb;

	}
	.hero-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.apple{
	margin-left: 5rem;
   }
	/*? Feature Section CSS */
	.special-food-heading {
		margin-top: 2rem;
	}
	.special-food-info {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		justify-content: center;
		text-align: center;
		margin-top: 2rem;
	}

	.flex-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	/*! Footer Mobile */
	.footer-section {
		margin-top: 10rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #0b0d17;
	}
	.footer-section h1 {
		text-align: center;
	}
	.footer-item-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-item-wrapper h1 {
		color: #fbddbb;
		text-align: center;
	}
	.footer-item {
		text-align: center;
	}
	.downloads {
		display: flex;
		flex-direction: column;
	}
	.downloads img {
		margin-bottom: 1rem;
		width: 6rem;
	}

	.footer-copyright {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		color: rgba(251, 221, 187, 1);
	}
	.socials {
		display: flex;
		justify-content: space-around;
	}
	.socials .fa-icons {
		margin: 10px;
	}

	/*? CTA MOBILE CSS */
	.cta-section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin:0 auto;
	}
	.cta-heading {
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 33px;
		margin-bottom: 32px;
		color: #fbddbb;
		text-align: center;
	}
	.cta-desc {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: rgba(255, 255, 255, 0.95);
		text-align: center;
	}
	.cta-form{
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.form-btn-container{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
	}
	.cta-input {
		width: 100%;
		height: 51px;
		background: #f7f7f7;
		border: 1px solid #b3b3b3;
		border-radius: 5px;
		text-align: center;
	}
	.cta-button {
		width: 280px;
		height: 51px;
		background: #fbddbb;
		border-radius: 5px;
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	/*? Feature Mobile Section CSS */
	.special-food-heading {
		margin-top: 1rem;
	}
	.special-food-heading h1 {
		color: #fbddbb;
		text-align: center;
		margin: 0 auto;
		font-style: normal;
		font-weight: 600;
		line-height: 185%;
		width: 100vw;
	}
	.special-food-heading p {
		font-style: normal;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 185%;
		text-align: center;
		color: rgba(255, 255, 255, 0.83);
		margin-top: 2rem;
		width: 80vw;
	}

	.feature-wrapper h1 {
		font-style: normal;
		font-weight: 600;
		font-size: 1.688rem;
		line-height: 2.063rem;
		color: #fbddbb;
		margin-top: 2.188rem;
		margin-bottom: 1.313rem;
	}

	.feature-wrapper p {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: rgba(255, 255, 255, 0.83);
		margin-bottom: 2rem;
		width: 100%;
		text-align: center;
	}

	/*? Mobile Login Pages */
	.loginPage,
	.signupPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 100%;
	}
	.form-image {
		width: 100%;

		margin-bottom: 3rem;
	}
	.form-wrapper {
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 100%;
		margin: 0 auto;
	}
	.form-wrapper form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	.form-wrapper form input,
	button {
		width: 100%;
		height: 61px;
		background: rgba(255, 255, 255, 0.83);
		border: 2px solid rgba(251, 221, 187, 0.51);
		border-radius: 5px;
	}
	.form-wrapper form input {
		margin-bottom: 33px;
		text-align: center;
	}

	.form-wrapper input {
		margin-bottom: 48px;
	}
	.form-wrapper button {
		width: 100%;
		background: rgba(0, 48, 46, 1);
		color: rgba(251, 221, 187, 1);
	}

	.form-wrapper .form-title {
		font-family: 'Poppins', serif;
		font-style: normal;
		font-weight: 600;
		font-size: 27px;
		line-height: 33px;
		color: #00302e;
		margin-top: 33px;
		margin-bottom: 33px;
	}

	.form-support {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2rem;
	}

	::placeholder {
		color: rgb(224, 156, 78);
	}

	.react-link {
		text-decoration: none;
		color: #00302e;
	}
	.react-link-btn :hover {
		cursor: pointer;
	}

	/* CART-LIST MOBILE */
	/*? ********************Dashboard CSS ********************/

	/* SideBar  */
	.sideBarContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background: #fbfbfb;
	}

	.side-row {
		display: flex;
		margin: 2rem;
	}
	.sideBarContainer h4 {
		margin-right: 1rem;
		margin-left: 1rem;
		opacity: 0.8;
	}

	.sidebar-logo {
		color: #00302e;
	}
	/* dashboard container */

	.NavHeader {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #f7f7f7;
		padding: 2rem;
	}
	/* Dashboard Header */
	.NavHeader-margin {
		margin-bottom: 1rem;
	}
	/* dashboardBox */
	.dashboardBox {
		display: flex;
		flex-direction: column;
		background: #ffffff;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.foodBoxWrapper {
		width: 140px;
		height: 307px;
	}

	.price-and-item-btn {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	/* Main DashBoard Wrapper */
	.dashboard-wrapper {
		display: flex;
		background-color: #f7f7f7;
	}
	.feature-image {
		object-fit: cover;
		margin-top: -2rem;
		width: 80%;
	}
	/*? Sidebar */

	.sidebar-cart-wrapper {
		display: flex;
	}
	/*? **************** Modal components styling ************/
	.common-btn {
		width: 479px;
		height: 60px;
		background: rgba(0, 48, 46, 1);
		font-family: 'Poppins', serif;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 27px;
		text-align: center;
		color: #f3c294;
	}
	.modal-name {
		width: 82px;
		height: 33px;
		font-family: 'Poppins', serif;
		font-style: normal;
		font-weight: 600;
		font-size: 17px;
		line-height: 33px;
		color: #00302e;
		margin-bottom: 2rem;
	}
	.cartListContainer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}

	.item-info-wrapper {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		align-items: center;
	}
}

@media only screen and (max-width: 360px) and (orientation: landscape) {
	/* NavLinks*/
	.signup {
		height: 30px;
		color: rgba(0, 48, 46, 1);
		border-radius: 0.438rem;
		background: #e2b887;
		width: 80px;
		margin: 0 auto;
	}
	/*-----------HERO SECTION-----  */

	.hero-container{
		display: flex;
		flex-direction: column-reverse;
	}
	.hero-image {
		margin-top: 3rem;
		height: 100px;
		width: 300px;
		text-align: center;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
		margin-top: 3rem;

	}
	.hero-pitch {
		margin-bottom: 2.5rem;
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		line-height: 180%;
		margin-right: 3rem;
	}
	.hero-pitch-full {
		text-align: center;
		margin-right: 3rem;
	}
	.hero-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 5rem;
		margin-left: 5rem;

	}

	/*? Feature Section CSS */
	.special-food-heading {
		margin-top: 20rem;
	}

	.special-food-heading h1 {
		color: white;
		text-align: center;
		margin: 0 auto;
		font-style: normal;
		font-weight: 600;
		line-height: 2rem;
	}

	.special-food-heading p {
		font-style: normal;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 183%;
		text-align: center;
		color: rgba(255, 255, 255, 0.83);
		margin-top: 2rem;
	}

	.feature-wrapper h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 1.688rem;
		line-height: 2.063rem;
		color: #fbddbb;
		margin-top: 2.188rem;
		margin-bottom: 1.313rem;
	}

	.feature-wrapper p {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: rgba(255, 255, 255, 0.83);
		width: 100%;
	}

	.feature-image {
		object-fit: cover;
	}

	/*? CTA CSS */
	.cta-section {
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.cta-heading {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 55px;
		margin-bottom: 32px;
		color: #fbddbb;
	}
	.cta-desc {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: rgba(255, 255, 255, 0.95);
		margin-right: 3rem;
		text-align: center;
	}
	.cta-input {
		width: 299px;
		height: 51px;
		background: #f7f7f7;
		border: 1px solid #b3b3b3;
		border-radius: 5px;
		margin-right: 8px;
		text-align: center;
		margin-bottom: 2rem;
	}
	.cta-button {
		width: 299px;
		height: 51px;
		background: #fbddbb;
		border-radius: 5px;
	}
	.special-food-info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		text-align: center;
		margin-top: 2rem;
	}
}


