* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	text-align: center;
}

.hero-image {
	height: 400px;
	width: 200px;
}
.hero-text {
	height: 167px;
	width: 650px;
	left: 98px;
	top: 361px;
	border-radius: nullpx;
}

.hero-text h1,
p {
	margin-bottom: 21px;
}
