@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html {
	scroll-behavior: smooth;
	transition: all 1s ease-in;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: rgba(0, 48, 46, 1);
	font-family: 'Poppins';
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins';
}
.App {
	text-align: center;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

/*? Hero Section CSS */
.hero-image {
	height: 200px;
	width: 200px;
	margin-right: 3rem;
	margin-top: 5rem;
}
.hero-text {
	height: 10.438rem;
	width: 40.625rem;
	margin-top: 10rem;
}

.hero-text h1,
p {
	margin-bottom: 2.5rem;
}

/*? Feature Section CSS */
.special-food-heading {
	margin-top: 20rem;
}
.special-food-heading h1 {
	color: white;
	text-align: center;
	margin: 0 auto;
	font-style: normal;
	font-weight: 700;
	line-height: 2.063rem;
}
.special-food-heading p {
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 183%;
	text-align: center;
	color: rgba(255, 255, 255, 0.83);
	margin-top: 2rem;
}

.feature-wrapper h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 1.688rem;
	line-height: 2.063rem;
	color: #fbddbb;
	margin-top: 2.188rem;
	margin-bottom: 1.313rem;
}

.feature-wrapper p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 33px;
	color: rgba(255, 255, 255, 0.83);
}
.feature-image {
	object-fit: cover;
}

/*? CTA CSS */
.cta-section {
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cta-heading {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 33px;
	margin-bottom: 32px;
	color: #fbddbb;
}
.cta-desc {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 33px;
	color: rgba(255, 255, 255, 0.95);
}
.cta-input {
	width: 299px;
	height: 51px;
	background: #f7f7f7;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	margin-right: 8px;
}
.cta-button {
	width: 182px;
	height: 51px;
	background: #fbddbb;
	border-radius: 5px;
}
/*? ************** Footer CSS  **************** */
.footer-section {
	margin-top: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: initial;
	background: #0b0d17;
	width: 100%;
	flex-direction: column;
}
.footer-item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: initial;
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	color: rgba(251, 221, 187, 1);
}
.footer-item-wrapper h1 {
	color: #fbddbb;
	margin-bottom: 24px;
	text-align: left;
}

.downloads {
	display: flex;
	flex-direction: column;
}
.downloads img {
	margin-top: 1.188rem;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	color: rgba(251, 221, 187, 1);
}
.socials {
	display: flex;
	justify-content: space-around;
}
.socials .fa-icons {
	margin: 10px;
}
.footer-logo {
	width: 5.813rem;
	margin-bottom: 0.625rem;
}
.footer-logo:hover {
	filter: drop-shadow(0 0 0.3em #fbddbb);
}
/* Login Page */
.loginpage,
.signuppage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 90px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	background-color: white;
}
.form-wrapper form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.form-wrapper form input,
button {
	width: 488px;
	height: 71px;
	margin-left: 81px;
	margin-right: 81px;
	background: rgba(255, 255, 255, 0.83);
	border: 1px solid rgba(251, 221, 187, 0.51);
	border-radius: 5px;
}

.form-wrapper input {
	margin-bottom: 48px;
}
.form-wrapper button {
	background: rgba(0, 48, 46, 1);
	color: rgba(251, 221, 187, 1);
}

.form-wrapper .form-title {
	margin: 0 auto;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 33px;
	color: #00302e;
}

.form-support {
	display: flex;
	justify-content: space-around;
}

::placeholder {
	color: rgb(224, 156, 78);
}

.react-link {
	text-decoration: none;
	color: #00302e;
}
.react-link-btn :hover {
	cursor: pointer;
}

/*? ********************Dashboard CSS ********************/

/* Sider  */
.sidebarcontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fbfbfb;
}

.side-row {
	display: flex;

	margin: 2rem;
}
.sidebarcontainer h4 {
	margin-right: 1rem;
	margin-left: 1rem;
	opacity: 0.8;
}

.sidebar-logo {
	color: #00302e;
}
/* dashboardcontainer */

.NavHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 2rem;
}
/* Dashboard Header */
.NavHeader-margin {
	margin-bottom: 3rem;
}
/* dasboardBox */
.dasboardBox {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	background: #ffffff;
}

.foodboox-wrapper {
	width: 240px;
	height: 307px;
}

.price-and-item-btn {
	display: flex;
	justify-content: space-between;

	margin-right: 1rem;
}

/* Main DashBoard Wrapper */

.dashboard-wrapper {
	display: flex;
	background-color: #f7f7f7;
}

/*? Sidebar */

.sidebar-cart-wrapper {
	display: flex;
}
/*? **************** Modal components stylings ************/
.common-btn {
	width: 479px;
	height: 60px;
	background: rgba(0, 48, 46, 1);
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	color: #f3c294;
}

.modal-name {
	width: 82px;
	height: 33px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 33px;
	color: #00302e;
	margin-bottom: 2rem;
}

.cartlist-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	margin: 0 auto;
}

.tem-info-wrapper {
	display: flex;
	justify-content: center;
}

/*? ************ Main Modal container ******** */

/*!Hide Modal  */
.modal {
	display: none;
	background: #f7f7f7;
}
.item-wrapper {
	display: inline-flex;
	align-items: center;
}
.cartlistfood {
	width: 15%;
	margin-right: 1rem;
	margin-bottom: 20px;
}

.headerBar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
}

button:hover {
	cursor: pointer;
}
